h1, h2, h3, h4 {
    color:black;
}
nav {
    background-color: aqua;
    text-align: center;

}
p {
    color:black;
}

.headings {
    color:black;
    list-style: none;
    display: flex ;
}
body {
    background-color:beige;
    display: grid;
    flex-wrap: wrap;
    
    
}
header{
    font-family: 'Montserrat', sans-serif;
    background-color: aqua;
    text-align: center;
    flex: 1 0 100%;
}
.welcome{
    font-size:x-large;
}