
body {
    background-color:beige;
    
   
}   
.container{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 50% 20% 20%;
   
   
}
header{
    font-family: 'Montserrat', sans-serif;
    background-color: aqua;
    text-align: center;
    gap: 20px;
    grid-column: 1/13;
 
}

footer{
    background-color: aqua;
    text-align: center;
    grid-column: 1/13;
    
}
.headings{
    display: inline-block;
    list-style: none;
}
