
body {
    background-color:beige; 
}   
.container{
    display: grid;
    grid-template-columns:2fr 1fr;  
}
header, footer {
    background-color: aqua;
    text-align: center;
    gap: 20px;

}

.headings{
    display: inline-block;
    list-style: none;
}
.head{
    font-family: 'Montserrat', sans-serif;
}
ul li {
    list-style: none;
}


@media screen and (min-width:600px) {
    nav{
        
        display: flex;
        align-items: center;
    }
    main{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 2fr;
       
    }  
   
}